body{
    color: cornsilk;
}
.welcome{
    background-image: url("../images/diego-ph-fIq0tET6llw-unsplash.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}