<!-- FOOTER AREA -->
<footer class="text-white bg-dark pt-5 pb-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                  <h3 class="text-decoration-underline"><strong><span class="text-danger">B</span>logs by <span class="text-danger">L</span>awi</strong></h3>
                  <p><strong>For the love of the best blogs around the globe... we are here.</strong></p>            
                </div>

                <div>
                  <!-- Web Statistics Here -->
                   <a href='http://www.freevisitorcounters.com'>freevisitorcounterss Homepage</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=0f4aee70719d9f5ef118384dfa344e600c81550a'></script>
                   <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/859088/t/0"></script>
                </div>
            </div>

            <!-- Links To Different Parts & Pages -->
            <div class="col">
                <div class="">
                    <h3 class="text-decoration-underline">Useful Links:</h3>
                </div>
                <div class="col" id="footer-links">
                    <p class=""><a class="text-light text-decoration-none" href="/"><strong>Home</strong></a></p>
                    <p><a class="text-light text-decoration-none" href="/"><strong>Blogs</strong></a></p>
                    <p><a class="text-light text-decoration-none" href="/"><strong>Recent</strong></a></p>
                    <p><a class="text-light text-decoration-none" href="https://streetgm.gumroad.com/" target="_blank"><i class="fas fa-shopping-cart"></i> <strong> Shop</strong></a></p>                                             
                </div>
            </div>

            <!-- Social Media Linked -->
            <div class="col">             
                <div class="">
                    <h3 class="text-decoration-underline">Social Media:</h3>
                </div>
                <div class="row">
                    <div class="col" id="footer-links">
                        <p><a class="text-light text-decoration-none" href="https://www.facebook.com/streetgrandmaster" target="_blank"><span id="socialMedia"><i class="fab fa-facebook-square"></i></span> <strong> Facebook</strong></a></p>
                        <p><a class="text-light text-decoration-none" href="https://www.instagram.com/streetgrandmaster" target="_blank"><span id="socialMedia"><i class="fab fa-instagram-square"></i></span> <strong> Instagram</strong></a></p>
                        <p><a class="text-light text-decoration-none" href="https://www.twitter.com/LawiGrandmaster" target="_blank"><i class="fab fa-twitter-square"></i> <strong> Twitter</strong></a></p>
                        <p><a class="text-light text-decoration-none" href="https://www.linkedin.com/in/streetgrandmaster" target="_blank"><i class="fab fa-linkedin"></i> <strong> LinkedIn</strong></a></p>
                    </div>
                    <div class="col" id="footer-links">
                        <p><a class="text-light text-decoration-none" href="https://www.quora.com/profile/Lawi-Otieno" target="_blank"><i class="fab fa-quora"></i> <strong> Quora</strong></a></p>
                        <p><a class="text-light text-decoration-none" href="https://www.pinterest.com/streetgrandmaster" target="_blank"><i class="fab fa-pinterest-square"></i> <strong> Pinterest</strong></a></p>
                        <p><a class="text-light text-decoration-none" href="https://www.reddit.com/user/streetgm" target="_blank"><i class="fab fa-reddit-square"></i> <strong> Reddit</strong></a></p>
                        <p><a class="text-light text-decoration-none" href="https://www.wa.me/+254708581688" target="_blank"><i class="fab fa-whatsapp-square"></i> <strong> WhatsApp</strong></a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center pt-5" id="footer-links">
            <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> <a class="text-light text-decoration-none" href="/"><strong><span class="text-danger">B</span>logs by <span class="text-danger">L</span>awi</strong>.</a> All Rights Reserved</p>
        </div>
    </div>
</footer>