{% extends 'base.html' %}

<!-- Styles block -->
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="../static/css/index.css" /> -->
<!-- <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" /> -->
{% endblock %}

{% block content %}
<div class="container">
  <!-- Welcome Display -->
  <div class="welcome text-center">
    <h2 class="">Welcome to <span class="text-danger">B</span>logs by <span class="text-danger">L</span>awi</h2>
    <br>
    <!-- <div class="text-center">
      <a href="{{url_for('main.new_blog')}}"><button class="btn btn-primary">Create Blog</button></a>
    </div> -->
  </div>
  <!-- End Welcome Display -->

  <br>

  <div class="row">
    <div class="col-8">
      <!-- Quotes Display -->
      <div class="border border-success rounded p-3">
        <div class="card">
          <div class="card-header">
            <h1 text-center>Best Quotes Globally</h1>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-body">
            <span class="card-text text-center">
              <i class="fas fa-quote-left"></i> 
              <strong>
                <em class="quote">{{quote.quote}}</em>
              </strong>
              <i class="fas fa-quote-right"></i>
            </span>
            <div>
              <h5 class="card-footer">Author: <span class="text-info">{{quote.author}}</span></h5>
            </div>
          </div>
        </div>
        <br>
        <span class="text-end">
          <a href="/"><button class="btn btn-primary">Next Quote</button></a>
        </span>
      </div>
      <!-- End Quotes Display -->
      <br>
      <!-- Subscription Display -->
      <div class="border border-success rounded p-2">
        <form id="subscribeForm" class="form-inline ml-2" action="{{url_for('main.subscribe')}}" method="POST">
          <h1>Subscribe</h1>
          <div class="text-center">
            <div class="md-form form-group">
              <input type="email" class="form-control" placeholder="Your email here..." name="subscriber" required>
            </div>
            <div class="md-form form-group">
              <button class="btn btn-success" id="subs">Subscribe</button>
            </div>
          </div>
        </form>
      </div>
      <!-- End Subscription Display -->
    </div>

    <!-- Recent Blogs Display -->
    <div class="col-4">
      <div class="border border-success rounded p-3">
        <h1 class="text-center"><u>Recent Blogs</u></h1>
        {% for blog in blogs %}
        <div class="border border-info rounded p-3">
          <h4><a href="{{url_for('main.blog',id = blog.id)}}">{{blog.title | upper}}</a></h4>
          <h5>{{blog.description}}</h5>
          <p>Posted on :<small class="text-muted mr-2"> {{blog.time.strftime('%d-%m-%Y')}}</small> by <a
            href="user/{{blog.user.username}}">{{blog.user.username}}</a></p>
          <p> <a class="btn btn-success" href="{{url_for('main.blog',id = blog.id)}}">{{blog.comment.count()}} <i class="far fa-comments"  style='font-size:30px;'></i></a></p>
        </div>
      </div>
  
      {% endfor %}
    </div> 
    <!-- End Recent Blogs Display -->   
  </div>
</div>

{% endblock %}