{% extends 'base.html'%} 
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles%}
{{ super() }}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}" />
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}

<div i="particles-js">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" id="postform">
      <h2 class="text-center">Create Your Blog 👇</h2>
      {{wtf.quick_form(form)}}
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<div class="fixed-bottom">
  <!-- Footer Here -->
  {% include 'footer.html' %}
</div>

{% endblock%}
